@charset "UTF-8";
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #007FA3;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-mojo: #E0D0B0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.form-select {
    color: var(--bs-mojo);
}

.parent{
    width: 100%;
    height: 520px;
    overflow: hidden;
}

.child{
    width: 100%;
    height: 540px;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}

.btn-outline-warning.custom-btn {
    border-color: var(--bs-mojo) !important;
    color: var(--bs-mojo) !important;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.navbar {
color: black;
}

html, body {
    background-color: black;
    width: 100vw;
    overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.logo {
    color: goldenrod;
}

#loading-image {
    width: 840px;
    height: 614px;
}

img.card-img-top {
    width: 100% !important;
    min-width: 14.6em !important;
    height: 21.6em !important;
    min-height: 21.6em !important;
    object-fit: cover; /*magic*/
    top: 0 !important;
    /*border: var(--bs-mojo) thin solid;*/
}

.rating {
    border-radius: 50%;
    width: 47px;
    height: 47px;
    padding: 9px;
    background: #000;
    border: 3px solid var(--bs-mojo);
    text-align: center;
    font: 18px Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    color: goldenrod;
}

.edit-btn i, .delete-btn i {
    color: var(--bs-mojo);
}

/*CUSTOM VARIABLES HERE*/
.cards {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 29em;
    width: 15em;
    margin: 5px;
    background-color: transparent;
    /*background-color: var(--bs-mojo);*/
}

.card-body {
    min-width: 210px;
    color: var(--bs-mojo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
}

.card-body > h6 {
    min-height: 38px;
}
.card .card-link-wrapper {
    margin-top: auto;
}
.cards::-webkit-scrollbar {
    height: 12px;
}
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}
.cards::-webkit-scrollbar-thumb {
    /*background: var(--darkred);*/
}
.cards::-webkit-scrollbar-track {
    /*background: var(--thumb);*/
}
@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }
    .card:not(:last-child) {
        margin-right: 20px;
    }
}
@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }
    .card:not(:last-child) {
        margin-right: 30px;
    }
}
@media (min-width: 1100px) {
    .card {
        flex-basis: calc(25% - 30px);
    }
    .card:not(:last-child) {
        margin-right: 40px;
    }
}

.hot-card {
    border: solid medium goldenrod;
}

#movie-content {
    list-style: none;
}

.menu-bar {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0 10px;
    width: 100%;
}
.menu-bar li {
    list-style: none;
    color: var(--bs-mojo);
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}
.menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}
.menu-bar li:hover {
    color: black;
}
.menu-bar li.menu-hover:hover::before {
    background: linear-gradient(to bottom, #e8edec, var(--bs-mojo));
    box-shadow: 0 3px 20px 0 black;
    transform: scale(1.2);
}

.ticker {
    overflow: hidden;
    display: flex;
    left: 0;
    right: 0;
    height: 142px;
}

.ticker__list {
    display: flex;
    position: absolute;
    animation: ticker 30s infinite linear;
}

.ticker__list>img {
    min-height: 143px;
    min-width: 916px;
}

.bg-mojo {
    background-color: var(--bs-mojo);
}

.text-mojo {
    color: var(--bs-mojo);
}

@keyframes ticker {
    100% {
        transform: translateX(-1832px); /*try changing this to -100vw*/
    }
}

.add-sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: auto;
}

.ui-widget input, .modal-body input, .modal-body textarea, .modal-body select, .modal-body input:focus,
.modal-body textarea:focus, .modal-body select:focus #db-search-btn:focus {
    background-color: var(--bs-dark) !important;
    color: yellow !important;
}

.ui-widget input:focus, .modal-body input:focus, .modal-body textarea:focus,
.modal-body select:focus, #select:focus {
    border: thin solid var(--bs-warning) !important;
}

#db-search-btn:focus, #db-search-btn:active {
    border: thin solid var(--bs-warning) !important;
    background-color: var(--bs-mojo) !important;
    color: #000000 !important;
}

.card:hover {
    border: thin solid var(--bs-warning) !important;
    box-shadow: var(--bs-warning) 0 0 20px 0px;
}
.btn-outline-warning.custom-btn:hover, .btn-outline-warning.custom-btn:focus, .btn-outline-warning.custom-btn:active, .btn-outline-warning.custom-btn.active {
    border: thin solid var(--bs-warning) !important;
    background-color: var(--bs-mojo) !important;
    color: #000000 !important;
}

.modal label {
    color: var(--bs-warning);
}